<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity_T2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Element" android:parentActivityName=".MainActivity_T2"/>
        <activity android:name=".Activity_InteractionsMenu" android:parentActivityName=".MainActivity_T2"/>
        <activity android:name=".Activity_Interactions" android:parentActivityName=".Activity_InteractionsMenu"/>
        <activity android:name=".Activity_Haptic" android:parentActivityName=".MainActivity_T2"/>
        <activity android:name=".Activity_LottieView" android:parentActivityName=".MainActivity_T2"/>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".CaptureForm" />
        <activity android:name=".Acitivity_Webview_ISO" android:parentActivityName=".MainActivity_T2"/>
        <activity android:name=".Element_PopupActivity" android:theme="@android:style/Theme.Dialog" android:parentActivityName=".Activity_Interactions"/>
        <activity android:name=".TYPE2.Haptic_PopupActivity" android:theme="@android:style/Theme.Dialog" android:parentActivityName=".Activity_Haptic"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>